.shots-container {
    margin:20px 0;
}

.shots-container h2 {
    margin-bottom: 1.25rem;
}

.shots-container h3 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}
    
.shots-wrapper {
    text-align: center;
}

.shots-wrapper img {
    height:120px;
    width:120px
}

.shots-overlay {
    display: inline-block;
    text-align: center;
    padding: 30px 0 0;
    /* position: relative; */
}

.shots-details {
    position: absolute;
    top: 0;
    left: -44rem;
    box-sizing: border-box;
    opacity: 0;
}

.play-icon {
    position: absolute;
    bottom: 1.525rem;
    left: 1.7rem;
    box-sizing: border-box;
    opacity: 0;
}

clr-icon {
    height: 20px;
    width: 20px;
}

a.shots-overlay:hover > .play-icon, a.shots-overlay:hover > .shots-details {
    opacity: 1;
}