<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Shots details: </h3>
    </div>
    <div class="col-md-8">
      <h2>Shots List Page</h2>
      <h3> some description related to shots list.</h3>
      <div class="row shots-container">
        <div class="col-md-3 col-lg-3 col-sm-3 shots-wrapper" *ngFor="let shot of shotsList.hits.hits" >
            <a href="/shots/{{shot._source.thumbnail}}" class="shots-overlay">
              <div class="shots-thumbnail">
                  <img src="{{shot._source.thumbnail}}" alt="video-thumbnail">
              </div>
              <div class="play-icon">
                <clr-icon shape="play"></clr-icon>
              </div>
              <div class="shots-details">
                <p>Duration : </p><span class="duration">{{shot._source.timestamp_sec}}</span>
                <p>Tags : </p><span class="tags" *ngFor="let tags of shot._source.tags">{{tags}}</span>
              </div>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>