header {
    position: relative;
    z-index: 400;
    font-size: 14px;
    border-bottom: 1px solid #D0D8DB;
    background-color: #EEF1F2;
}

.header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 60px;
    margin: 0 30px;
}

.logo {
    float: left;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    z-index: 300;
    width: 100px;
    height: 60px;
    margin-right: 20px;
    line-height: 60px;
}