body {
    font-family: Brown-Pro-Regular,sans-serif;
}

h2 {
    /* font-family: Brown-Pro-Regular,sans-serif; */
    font-size: 2.25rem;
    text-align: center;
    margin: 1.875rem 0;
    line-height: 2.875rem;
}

h3 {
    margin-bottom: .2em;
    font-weight: 700;
    line-height: 1.189;
    color: #1a2e3b;
}