.video-wrapper {
    text-align: center;
    margin: 50px 0;
}

.video-thumbnail-wrapper, .video-info-wrapper {
    margin:20px 30px 50px 30px;
}

.video-thumbnail-wrapper h3 {
    margin:1.25rem;
    font-size: 2.25rem;
    line-height: 1.11111;
    margin-right: .5rem;
    margin-bottom: .2em;
}

.video-info-wrapper {
    margin: 0 0 .5rem;
    letter-spacing: .01rem;
    font-size: .875rem;
    line-height: 1.42857;
    padding: 0;
    font-weight: 600;
}

.info-content {
    margin: 0.5rem;
}