<div class="container">
  <div class="row" class="video-wrapper">
    <div class="col-md-12" class="video-thumbnail-wrapper">
      <h3>Shots in list</h3>
      <img src="https://dummyimage.com/400" alt="video-thumbnail">
    </div>
    <div class="col-md-12" class="video-info-wrapper">
      <div class="info-section">
        <div class="info-content">
            <label for="tags">Tags : </label>
            <span id="tags">tag1, tag2, tag3</span>
        </div>
        <div class="info-content">
            <label for="similar_images">Similar Images : </label>
            <span id="similar_images">tag1, tag2, tag3</span>
        </div>
      </div>
    </div>
  </div>
</div>